.Habilidades h1{
    display: flex;
    align-items: center;
    justify-content: center;
}
.Habilidades{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.Habilidades img{
    max-width: 400px;
    width: 100%;
}
#cards{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;    
}
#cardFront{
    display: flex;
    flex-direction: column;
    max-width: 700px;
    width: 100%;
    text-align: center;
    align-items: center;
    border: 1px solid rgba(0, 0, 0, 0.281);
    border-radius: 10px 2px 2px 2px;
    box-shadow:2px 2px 2px 2px rgba(68, 42, 42, 0.415);
    margin-bottom: 50px;
    background-color: rgb(255, 255, 246);


}
#cardBack{
    display: flex;
    flex-direction: column;
    max-width: 700px;
    width: 100%;
    align-items: center;
    text-align: center;
    border: 1px solid rgba(0, 0, 0, 0.281);
    border-radius: 10px 2px 2px 2px;
    box-shadow:2px 2px 2px 2px rgba(68, 42, 42, 0.415);
    margin-bottom: 10px;
    background-color: rgb(255, 255, 246);

}

.icons{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
}
.icons img{
    margin-left: 30px;
}